<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div className={classes.wrap}>
  <form className={classes.searchContainer}>
    <input type="text" className={classes.searchBar} placeholder="What can I help you with today?"
     value={this.state.search}
     onChange={this.updateSearch()}/>
    <a href="#"><img className={classes.searchIcon} src={SearchIcon} /></a>
  </form>
  </div>
</body>
</html>
